<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ride my way</title>

	<link href="../static/css/main.css" rel="stylesheet">
	<link href="../static/css/home.css" rel="stylesheet">

</head>

<body>
<div class="container transparent">
	<div class="header">
		<nav>
			<ul class="navigation put-right">
				<li style="background-color: dodgerblue" role="presentation"><a href="driver/index.html">Home</a></li>
				<li style="background-color: firebrick" role="presentation"> (Reio santos) <a
						href="login.html">Logout</a></li>
			</ul>
		</nav>
		<h3 class="text-muted">Ride My Way (RMW)</h3>
	</div>

	<div class="one-row">

		<div class="col-12">

			<h3 class="title">About Us</h3>

			<img class="about" src="../static/images/about.jpg" alt="about me"/>

			<p class="about">
				Hi! I am Santos Ronald, an individuals with a passion for creativity
				creativity makes me happy. I truly believe in the transformative power of illustration and design
				and their ability to simplify communications, elevate experiences, engage and inspire people everywhere.
				Good design and good relationships come from collaboration. We're excited to start a visual dialogue,
				learn about you, and make something beautiful together.
			</p>
		</div>

	</div>

</body>

</html>