<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ride my way</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/signup.css" rel="stylesheet">

  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="login.html">Sign In</a></li>
            <li role="presentation"><a href="signup.html">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Ride My Way (RMW)</h3>
      </div>

      <div class="jumbotron">
        <h1>Ride My Way App</h1>

        <form class="form-signin">

        <label for="inputName" class="sr-only">Name</label>
        <input type="text" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>

			<label for="inputPhone" class="sr-only">Contact</label>
        <input type="text" name="inputPhone" id="inputPhone" class="form-control" placeholder="0798******" required autofocus>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

			<label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
      </form>
      </div>

      <footer class="footer">
        <p>&copy; RMW 2018</p>
      </footer>

    </div>
  </body>
</html>