<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ride my way</title>

	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/home.css" rel="stylesheet">
	<link href="../../static/css/modal.css" rel="stylesheet">

</head>

<body>
<div class="container transparent">
	<div class="header">
		<nav>
			<ul class="navigation put-right">
				<li style="background-color: dodgerblue" role="presentation"><a href="index.html">Home</a></li>
				<li style="background-color: dodgerblue" role="presentation"><a href="../about.html">About Us</a></li>
				<li style="background-color: firebrick" role="presentation"> (Reio santos) <a href="../login.html">Logout</a></li>
			</ul>
		</nav>
		<h3 class="text-muted">Ride My Way (RMW)</h3>
		<h4 class="text-muted">Respond to offers</h4>
	</div>

	<div class="one-row">

		<div class="col-6">
			<h3 class="title">Rides taken</h3>

			<table class="table bordered">
				<thead>
				<tr class="totals">
					<th>Rides taken: 3</th>
				</tr>
				<tr>
					<th>Date</th>
					<th>Details</th>
				</tr>

				</thead>
				<tbody>
				<tr>
					<td>4<sup>th</sup> June 2018</td>
					<td>
						<table class="table bordered">
							<thead>
							<tr>
								<th>To</th>
								<th>Cost</th>
							</tr>
							</thead>
							<tbody>
							<tr class="more-details">
								<td>Namagunga</td>
								<td>3000</td>
							</tr>
							<tr class="more-details">
								<td>Kasubi</td>
								<td>23000</td>
							</tr>
							<tr class="more-details">
								<td>Nakulabye</td>
								<td>3000</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<tr>
					<td>1<sup>st</sup> June 2018</td>
					<td>
						<table class="table bordered">
							<thead>
							<tr>
								<th>To</th>
								<th>Cost</th>
							</tr>
							</thead>
							<tbody>
							<tr class="more-details">
								<td>Nakulabye</td>
								<td>3000</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>

				</tbody>

			</table>

		</div>

		<div class="col-6">
			<h3 class="title">Available Offers</h3>

			<table class="table bordered">
				<thead>
				<tr class="totals-green">
					<th>Total: 4</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<table class="table bordered">
							<thead>
							<tr>
								<th>To</th>
								<th>Action</th>
							</tr>
							</thead>
							<tbody>
							<tr class="more-details">
								<td>Namagunga</td>
								<td><button class="accept">send request</button></td>
							</tr>
							<tr class="more-details">
								<td>Kasubi</td>
								<td><button class="accept">send request</button></td>
							</tr>
							<tr class="more-details">
								<td>Nakulabye</td>
								<td><button class="accept">send request</button></td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>

				</tbody>

			</table>

		</div>

	</div>

	<footer class="footer">
		<p>&copy; RMW 2018</p>
	</footer>

</div>

<div id="myModal" class="modal">
	<!-- Modal content -->
	<div class="modal-content">

		<div class="modal-header">
			<span class="close">&times;</span>
			<h2>More Details</h2>
		</div>

		<div class="modal-body">

			<table class="table bordered" style="background: #fff">
				<tbody>
				<tr>
					<td>Driver Name: </td>
					<td id="modal-name"></td>
				</tr>
				<tr>
					<td>Driver Contact: </td>
					<td id="modal-contact"></td>
				</tr>
				<tr>
					<td>Trip Status</td>
					<td id="modal-status"></td>
				</tr>
				<tr>
					<td>Trip to: </td>
					<td id="modal-tripto"></td>
				</tr>
				<tr>
					<td>Cost: </td>
					<td id="modal-cost">Cost: ~3000 Ush</td>
				</tr>
				<tr>
					<td>Offer Date: </td>
					<td id="modal-date"></td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="modal-footer">
		</div>
	</div>

</div>



<script type="text/javascript" src="../../static/js/main.js"></script>
	<script type="text/javascript" src="../../static/js/modal.js"></script>

</body>
</html>