<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ride my way</title>

	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/home.css" rel="stylesheet">

</head>

<body>
<div class="container transparent">
	<div class="header">
		<nav>
			<ul class="navigation put-right">
				<li style="background-color: firebrick" role="presentation"> (Reio santos) <a href="../login.html">Logout</a>
				</li>
			</ul>
		</nav>
		<h3 class="text-muted">Ride My Way (RMW)</h3>
		<h4 class="text-muted">Respond to offers</h4>
	</div>

	<div class="one-row">

		<div class="col-6">
			<h3 class="title">Rides taken</h3>

			<table class="table bordered">
				<thead>
				<tr class="totals">
					<th>Rides taken: 3</th>
				</tr>
				<tr>
					<th>Date</th>
					<th>Details</th>
				</tr>

				</thead>
				<tbody>
				<tr>
					<td>4<sup>th</sup> June 2018</td>
					<td>
						<table class="table bordered">
							<tbody>
							<tr>
								<td>Driver: Reio Kazigo</td>
							</tr>
							<tr>
								<td>Trip to: Namugoongo</td>
							</tr>
							<tr>
								<td>Cost: ~3000 Ush</td>
							</tr>
							</tbody>
						</table>
						<table class="table bordered">
							<tbody>
							<tr>
								<td>Driver: Kalyango</td>
							</tr>
							<tr>
								<td>Trip to: Namunona</td>
							</tr>
							<tr>
								<td>Cost: ~3000 Ush</td>
							</tr>
							</tbody>
						</table>
						<table class="table bordered">
							<tbody>
							<tr>
								<td>Driver: Senoga simon</td>
							</tr>
							<tr>
								<td>Trip to: Nansana</td>
							</tr>
							<tr>
								<td>Cost: ~3000 Ush</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<tr>
					<td>1<sup>st</sup> June 2018</td>
					<td>
						<table class="table bordered">
							<tbody>
							<tr>
								<td>Driver: Kayihura. G</td>
							</tr>
							<tr>
								<td>Trip to: Kiruhura</td>
							</tr>
							<tr>
								<td>Cost: 13000 Ush</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>

				</tbody>

			</table>

		</div>

		<div class="col-6">
			<h3 class="title">Available Offers</h3>

			<table class="table bordered">
				<thead>
				<tr class="totals-green">
					<th>Total: 4</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<table class="table bordered">
							<tbody>
							<tr>
								<td>Driver: Reio Kazigo</td>
								<td>
									<button class="accept">Send request</button>
								</td>
							</tr>
							<tr>
								<td colspan="2">To: Namugoongo</td>
							</tr>
							<tr>
								<td colspan="2">Cost: ~3000 Ush</td>
							</tr>
							</tbody>
						</table>
						<table class="table bordered">
							<tbody>
							<tr>
								<td>Driver: Senoga simon</td>
								<td>
									<button class="accept">send request</button>
								</td>
							</tr>
							<tr>
								<td colspan="2">To: Nansana</td>
							</tr>
							<tr>
								<td colspan="2">Cost: ~3000 Ush</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<tr>
					<td>
						<table class="table bordered">
							<tbody>
							<tr>
								<td>Driver: Kayihura. G</td>
								<td>
									<button class="accept">send request</button>
								</td>
							</tr>
							<tr>
								<td colspan="2">To: Kiruhura</td>
							</tr>
							<tr>
								<td colspan="2">Cost: ~13000 Ush</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>

				</tbody>

			</table>

		</div>

	</div>

	<footer class="footer">
		<p>&copy; RMW 2018</p>
	</footer>

	<script src="../../static/js/main.js" type="text/javascript"></script>

</div>
</body>
</html>